body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left-page {
    background-color: pink;
    max-width: 270px;
    padding: 20px;
}

/* Danh mục */
.text-uppercase {
    opacity: 0.4;
    font-weight: 200;
}


/* Accordion, Kích thước */
.accordion, .form-checkbox, .price-slider {
    margin-top: 30px;
}

/* Thay đổi nút cộng và trừ */
.accordion-button::after {
    display: none; /* Ẩn biểu tượng mặc định của Bootstrap */
}

.accordion-button .fa-plus, .accordion-button .fa-minus {
    margin-left: auto;
}

.accordion-button:not(.collapsed) .fa-plus {
    display: none;
}

.accordion-button.collapsed .fa-minus {
    display: none;
}

/* Thay đổi màu */
.accordion-button:not(.collapsed) {
    padding: 10px; /* Duy nhất */
    color: inherit !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-body {
    padding:0px 25px 0px 20px !important;
}

/* Chỉnh sửa lại css */

.accordion-button.collapsed {
    padding: 10px;
}

.accordion-header .accordion-button {
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none !important;
}

/* list-unstyled */
.accordion-item .list-unstyled {
    margin-bottom: auto !important;
    padding-left: 7px ;
}

.list-unstyled .list-item {
    border-bottom: 1px solid #eae6e6;
    padding: 5px;
}

.list-unstyled .none {
    border-bottom: none !important;
}

/* Lọc giá */
.d-flex {
    margin-bottom: 7px;
}

.price-slider #minPrice, 
.price-slider #maxPrice {
    opacity: 0.5;
    font-size: 15px;
}

.range-input {
    width: 100%;
}

.form-range-price {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    /* background: linear-gradient(90deg, rgb(63, 60, 60) 60%, rgba(255,255,255) 60%); */
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.form-range-price:hover {
    opacity: 1;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0.5rem solid #333;
    height: 17px;
    width: 17px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(240, 239, 239);
    background-color: #333333;
} 

.range-input input[type="range"]::-moz-range-thumb {
    border: 0.5rem solid #333;
    height: 17px;
    width: 17px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(240, 239, 239);
    background-color: #333333;
} 